.navbar {
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, $primary, $secondary 80%);
  border-bottom: 5px solid $black;
  box-shadow: 0 0 15px black;
  &__title {
    position: relative;
    height: 70px;
    border-bottom: 5px solid $primary;
    box-shadow: 0 0 50px $tertiary;

    &_icon {
      z-index: 5;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 50px;
      opacity: 0.8;
      font-size: 40px;
      transition: 200ms ease-in-out all;
      &:hover {
        color: $white;
      }
    }
    h1 {
      position: relative;
      padding-top: 10px;
      text-align: center;
      font-size: 3em;
      letter-spacing: 10px;
      font-family: $fontClassy;

      &:hover {
        color: white;
      }
    }
  }
  &__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 130px;
    width: 100%;

    &-container {
      box-shadow: 1px 0 5px $tertiary;
      height: 100%;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 500ms ease;
      margin-bottom: 8px;

      cursor: pointer;
      a {
        font-family: $fontClassy;
        position: relative;
        font-weight: bold;
        font-size: 1.5em;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 100%;
          height: 3px;
          background-color: $lightGrey;
          transform-origin: center;
          transform: scaleX(0);
          transition: 500ms 100ms ease all;
        }
      }
      &:hover {
        a {
          color: $white;

          &::after {
            transform: scaleX(1);
          }
        }
        background-color: $tertiary;
      }
    }
    &-container:first-child {
      &::after {
        content: "";
        position: absolute;
        right: -1px;
        top: 50%;
        transform: translateY(-50%);
        height: 50%;
        width: 2px;
        background-color: $black;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .navbar {
    h1 {
      font-size: 2.5em;
    }
    a {
      font-size: 1em;
    }
  }
}
